.container {
  width: 50%;
  margin: auto;
  .input-container {
    border: 1px solid;
    padding: 10px;
    .input-box {
      display: flex;
      p {
        margin-right: 20px;
      }
      input {
        width: 40%;
        border: 0;
        border-bottom: 1px solid;
      }
      input:focus {
        outline: none;
      }
    }
    button {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
    }
    button:hover {
      background: #e2e2e5;
    }
  }
  .error {
    display: block;
    color: red;
    text-align: center;
  }
  .repo-container {
    margin-top: 25px;
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table,
    th,
    td {
      border: 1px solid black;
      padding: 5px;
    }
  }
}
